[data-dpr="1"] .font-style-index-featureTextWhite {
  font-size: 50px;
}
[data-dpr="1"] .font-style-index-featureTextMinor {
  font-size: 20px;
}
[data-dpr="1"] .font-style-index-transform {
  font-size: 34px;
}
[data-dpr="1"] .font-style-index-transformSub {
  font-size: 26px;
}
[data-dpr="1"] .font-style-index-transform {
  font-size: 32px;
}
